<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin panel</title>
</head>
<body>
    <div th:insert="admin/header :: links"></div>
    <h1>Registering a new user</h1>
    <form action="/Butchery/adm/user/create/sent" method="POST">
        <label>Username: </label><input type="text" name="username"/><br>
        <label>Password: </label><input type="text" name="password"/><br>
        <label>Name: </label><input type="text" name="name"/><br>
        <label>Surname: </label><input type="text" name="surname"/><br>
        <label>This user should be an admin? </label>
        Yes!<input type="radio" name="admin" value="true"/>
        No!<input type="radio" name="admin" value="false" checked/>
        <br>
        <button type="submit" name="button" value="confirm">Confirm</button>
        <button type="submit" name="button" value="cancel">Cancel</button>
    </form>
</body>
</html>